body, html {
    padding: 0;
    margin: 0;
    background-color: rgb(230, 167, 84);
}

.container {
    display: grid;
    grid-template-rows: 1fr 8fr 1fr;
    height: 100vh;
}

.header {
    background-color: brown;
}

.content {
    background-color: rgb(230, 167, 84);
}


.footer {
    background-color: rgb(230, 167, 84);
}

.dropdown {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-items: center;
    align-items: center;
    background-color: brown;
    height: 50px;
    opacity: 0;
    position: relative;
}

.dropdown-explore {
    display: grid;
    justify-items: center;
    align-items: center;
}



.dropdown.active {
    height: 200px;
    opacity: 1;
    transition: all 0.8s;
}


.link, .exploreBtn {
    font-size: 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 12px;
    border-radius: 10px;
    background-color: rgb(250, 211, 160);
    border: none;
    margin-top: 20px;
    opacity: 1;
}

.exploreBtn {
    margin-top: 150px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-content: center;
    margin: 10px;
    opacity: 0;
    background-color: rgb(248, 248, 248);
    padding: 5px;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 1px 4px 0px;
}

.link:hover ~ .content {
    opacity: 1;
    transition: all 0.8s;
    
    
} */




/* a {
    text-decoration: none;
    color: black;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
}

a:hover {
    text-decoration: none;
    color: green;
} */



