body, html {
    padding: 0;
    margin: 0;
    background-color: rgb(52, 78, 65);
}

.container {
    display: grid;
    grid-template-rows: 1fr 8fr 1fr;
    height: 100vh;
}

.header {
    background-color: rgb(88, 129, 87);
}

.content {
    background-color: rgb(230, 167, 84);
}


.footer {
    background-color: rgb(88, 129, 87);
}

.dropdown {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-items: center;
    align-items: center;
    background-color: rgb(88, 129, 87);
    height: 50px;
    opacity: 0;
    position: relative;
}

.dropdown-explore {
    display: grid;
    justify-items: center;
    align-items: center;
}



.dropdown.active {
    height: 200px;
    opacity: 1;
    transition: all 0.8s;
}


.link, .exploreBtn {
    font-size: 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 12px;
    border-radius: 10px;
    background-color: rgb(163, 177, 138);
    border: none;
    margin-top: 20px;
    opacity: 1;
}

.exploreBtn {
    margin-top: 40px;
}



.content {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-content: center;
    margin: 10px;
    opacity: 0;
    background-color: rgb(218, 215, 205);
    padding: 5px;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 1px 4px 0px;
}

.link:focus ~ .content {
    opacity: 1;
    transition: all 0.8s;
    
    
} 

.content:hover {
    background-color: rgb(163, 177, 138);
}


a {
    text-decoration: none;
    color: black;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
}

.explore {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 4fr;
}

.dropdown-explore {
    display: grid;
    align-items: start;
    grid-column: 2;
}

.previous {
    display: grid;
    justify-self: center;
    align-self: center;
    align-content: center;
    grid-column: 1;
    padding: 20px;
    background-color: rgb(163, 177, 138);
    border-radius: 10px;
    border: none;
    
}

.next {
    display: grid;
    justify-self: center;
    align-self: center;
    align-content: center;
    grid-column: 3;
    padding: 20px;
    background-color: rgb(163, 177, 138);
    border-radius: 10px;
    border: none;
}

button:active {
    /* Styles when the button is clicked */
    background-color: rgb(218, 215, 205);
    transition: linear 0.1s;
  }

.img {
    display: grid;
    justify-self: center;
    align-self: center;
    max-height: 350px;
    max-width: 350px;

}


