body, html {
    padding: 0;
    margin: 0;
    background-color: rgb(230, 167, 84);
}

.container {
    display: grid;
    grid-template-rows: 1fr 8fr 1fr;
    height: 100vh;
}

.header {
    background-color: brown;
}

.content {
    background-color: rgb(230, 167, 84);
}


.footer {
    background-color: rgb(230, 167, 84);
}

.dropdown {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-items: center;
    align-items: center;
    background-color: brown;
    height: 50px;
    opacity: 0;
}

.dropdown-explore {
    display: grid;
    justify-items: center;
    align-items: center;
}

.dropdown.active {
    height: 80px;
    opacity: 1;
    transition: all 0.8s;
}


.link, .exploreBtn {
    font-size: 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 12px;
    border-radius: 10px;
    background-color: rgb(250, 211, 160);
    border: none;


}


/* a {
    text-decoration: none;
    color: black;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
}

a:hover {
    text-decoration: none;
    color: green;
} */



